body{
    background-color: rgb(196, 181, 153);
}
  
h1{
    color: blueviolet;
    margin: 20px;
    font-style: italic;
}  
div{
    height: 30 px;
    width: 90%;
    margin-left: 60px;
    background-color: salmon;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 243, 170);
    
    
}
img{
    margin-left: 90px;
    margin-top: 20px;
}
h2{
    color: rgb(72, 80, 61);
    margin-left: 90px;
}
h3{
    color: rgb(26, 24, 114);
    margin-left: 100px;
    font-size: 35px;
    font-weight: 600;
    
}
h5{
    margin-left: 100px;
    margin-right: 100px;
    font-size: 25px;
    font-weight: 500;
}
li{
    margin-left: 100px;
    font-size: 25px;
}